body{
	margin: 0;
	padding: 0;
}
canvas{
	border: 1px solid #0a0033;
	margin: auto;
}

#alingn-canvas{
	display: flex;
	align-items: center;
}
#panel{
	position: fixed;
	border: 1px solid #0a0033;
	width: 16%;
	border-radius: 5px;
}
#endGame{
	font-size: 1.5em;
	color: blue;
	text-align: center;
}
.card{
	font-size: 14px;
	color: white;
	background-color: #220058cc;
	padding: 0;
}
.list-group-item{
	background-color: #0202024a;
}